In [5]:
import pandas as pd 
from sqlalchemy import create_engine
from time import time
import os

In [6]:
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-10.parquet" 
os.system(f'wget {url}')
parquet_file = pd.read_parquet("D:/other/project/data-engineering/green_tripdata_2019-10.parquet")
parquet_file.to_csv("green_tripdata_2019-10.csv")
df = pd.read_csv("green_tripdata_2019-10.csv")
df

C:\Users\Sina\AppData\Local\Temp\ipykernel_16780\2651818072.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("green_tripdata_2019-10.csv")

,Unnamed: 0,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,...,0.50,0.5,0.00,0.00,NaN,0.3,19.30,2.0,1.0,0.0
1,1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,...,3.25,0.5,0.00,0.00,NaN,0.3,9.05,2.0,1.0,0.0
2,2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,...,0.50,0.5,0.00,0.00,NaN,0.3,22.80,2.0,1.0,0.0
3,3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,...,0.50,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.0
4,4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,...,0.50,0.5,2.26,0.00,NaN,0.3,13.56,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476381,476381,2,2019-10-31 23:30:00,2019-11-01 00:00:00,NaN,NaN,65,102,NaN,7.04,...,2.75,0.5,0.00,0.00,NaN,0.0,32.82,NaN,NaN,NaN
476382,476382,2,2019-10-31 23:03:00,2019-10-31 23:24:00,NaN,NaN,129,136,NaN,0.00,...,2.75,0.5,0.00,6.12,NaN,0.0,49.20,NaN,NaN,NaN
476383,476383,2,2019-10-31 23:02:00,2019-10-31 23:23:00,NaN,NaN,61,222,NaN,3.90,...,2.75,0.5,0.00,0.00,NaN,0.0,26.36,NaN,NaN,NaN
476384,476384,2,2019-10-31 23:42:00,2019-10-31 23:56:00,NaN,NaN,76,39,NaN,3.08,...,2.75,0.5,0.00,0.00,NaN,0.0,18.48,NaN,NaN,NaN
476385,476385,2,2019-10-31 23:23:00,2019-10-31 23:56:00,NaN,NaN,56,215,NaN,6.84,...,2.75,0.5,0.00,0.00,NaN,0.3,39.67,NaN,NaN,NaN

In [19]:
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df

,Unnamed: 0,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,...,0.50,0.5,0.00,0.00,NaN,0.3,19.30,2.0,1.0,0.0
1,1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,...,3.25,0.5,0.00,0.00,NaN,0.3,9.05,2.0,1.0,0.0
2,2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,...,0.50,0.5,0.00,0.00,NaN,0.3,22.80,2.0,1.0,0.0
3,3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,...,0.50,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.0
4,4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,...,0.50,0.5,2.26,0.00,NaN,0.3,13.56,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476381,476381,2,2019-10-31 23:30:00,2019-11-01 00:00:00,NaN,NaN,65,102,NaN,7.04,...,2.75,0.5,0.00,0.00,NaN,0.0,32.82,NaN,NaN,NaN
476382,476382,2,2019-10-31 23:03:00,2019-10-31 23:24:00,NaN,NaN,129,136,NaN,0.00,...,2.75,0.5,0.00,6.12,NaN,0.0,49.20,NaN,NaN,NaN
476383,476383,2,2019-10-31 23:02:00,2019-10-31 23:23:00,NaN,NaN,61,222,NaN,3.90,...,2.75,0.5,0.00,0.00,NaN,0.0,26.36,NaN,NaN,NaN
476384,476384,2,2019-10-31 23:42:00,2019-10-31 23:56:00,NaN,NaN,76,39,NaN,3.08,...,2.75,0.5,0.00,0.00,NaN,0.0,18.48,NaN,NaN,NaN
476385,476385,2,2019-10-31 23:23:00,2019-10-31 23:56:00,NaN,NaN,56,215,NaN,6.84,...,2.75,0.5,0.00,0.00,NaN,0.3,39.67,NaN,NaN,NaN

In [7]:
df.columns

Index(['Unnamed: 0', 'VendorID', 'lpep_pickup_datetime',
       'lpep_dropoff_datetime', 'store_and_fwd_flag', 'RatecodeID',
       'PULocationID', 'DOLocationID', 'passenger_count', 'trip_distance',
       'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'ehail_fee', 'improvement_surcharge', 'total_amount', 'payment_type',
       'trip_type', 'congestion_surcharge'],
      dtype='object')

In [ ]:
engin = create_engine('postgresql://root:root@localhost:5432/ny_taxi_data')
engin.connect()

In [ ]:
sql_table = pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engin)

In [ ]:
print(sql_table)

In [ ]:
df_iter  = pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)

In [ ]:
df_iter

In [ ]:
df = next(df_iter)
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

In [ ]:
len(df)

In [ ]:
df.info()

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi',con=engin,if_exists='replace')

In [ ]:
df.to_sql(name='yellow_taxi',con=engin,if_exists='append')

In [ ]:
while True:
    try :
        begin = time()
        df = next(df_iter)
        df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
        df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
        df.to_sql(name='yellow_taxi',con=engin,if_exists='append')
        end = time()
    
        print(f'tHE NEW CHUNCK WAS ADDED TO THE DATABASE IN : {end-begin} SECONDS')
        
    except StopIteration:

        print('NO MORE DATA TO APPEND')
        break

In [ ]:
query = 'SELECT * FROM yellow_taxi LIMIT 10'
pd.read_sql(sql=query,con=engin)

In [8]:
url_zone_data = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'
file_name = 'zone_data.csv'
os.system(f'wget {url_zone_data} -O {file_name}')
zone_df = pd.read_csv(file_name)
zone_df.columns

Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='object')